@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	height: 100vh;
	margin: 0;
	padding: 0 5%;
	overflow: hidden;
	background-color: #F0F0F0;
}

table{
	width: 80%;
	text-align: center;
}

.profile {
	width:100px;
	background-color: beige;
}

.introduce {
	margin: 30px auto;
}

.explanation{
	width: 300px;
	text-align: left;
}